Django==5.2.8
djangorestframework
djangorestframework-simplejwt
django-graphql-jwt==0.4.0
django-graphql-auth==0.3.7
django-filter
graphene-django==2.16.0
django-redis
gql[all]
celery[redis]
django-celery-beat
django-cors-headers
pillow
python-decouple
drf-spectacular[sidecar]
whitenoise
gunicorn
psycopg2-binary